<div class="card w-100 mb-3">
    <div class="card-body">
        <h5 class="card-title"><a href="/post/{{id}}">{{title}}</a></h5>
        <h6 class="card-subtitle mb-2">Posted by: <a href="/user/{{user.id}}">{{user.username}}</a></h6>
        <h6 class="card-subtitle mb-2">Movie: <a href="/movie/{{movie_id}}">{{movie_title}}</a></h6>
        <p class="card-text">{{description}}</p>
    </div>
</div>