<section class="container position-relative" style="margin: 20px;">
  <div class="row">
    <div class="col-auto">
      <h2>Welcome, {{username}}!</h2>
    </div>
  </div class="container">
    {{#if posts.length}}
    <div class="user-post-list">
        <h3 class="text-center" style="padding: 10px;">My Posts</h3>
        <p id="post-status" style="color: #f1aeb5;"></p>
        {{#each posts as |post|}}
        <div class="card w-100 mb-3">
          <div class="card-body">
            <h5 class="card-title"><a href="/post/{{post.id}}">{{post.title}}</a></h5>
            <h6 class="card-subtitle mb-2">Movie: <a href="/movie/{{post.movie_id}}">{{post.movie_title}}</a></h6>
            <p class="card-text">{{post.description}}</p>
            <button id="delete-post-btn" class="btn btn-sm btn-danger" data-id="{{post.id}}">Delete</a>
          </div>
        </div>
        {{/each}}    
        {{else}}
        <p>No posts yet. Search for a movie to create a post.</p>
        {{/if}}
    </div>
  </div>
</section>

{{!-- <script src="/js/edit-post.js"></script> --}}
<script src="/js/delete-post.js"></script>
{{!-- <script src="/js/edit-comment.js"></script>
<script src="/js/delete-comment.js"></script> --}}
{{!-- <script>
    function toggleEditPost() {
        var editPostSection = document.getElementById("edit-post-section");
        var showEditPost = document.getElementById("edit-post-btn");
        if (editPostSection.style.display === "none") {
            editPostSection.style.display = "block";
            showEditPost.textContent = "Cancel";
        } else {
            editPostSection.style.display = "none";
            showEditPost.textContent = "Edit";
        }
    };

    function toggleEditComment() {
        var editCommentSection = document.getElementById("edit-comment-section");
        var showEditComment = document.getElementById("edit-comment-btn");
        if (editCommentSection.style.display === "none") {
            editCommentSection.style.display = "block";
            showEditComment.textContent = "Cancel";
        } else {
            editCommentSection.style.display = "none";
            showEditComment.textContent = "Edit";
        }
    };
</script> --}}