<section class="container-fluid text-center" style="margin-top: 20px;">
    <h2>Home</h2>
    <p>Welcome to our site!
        <br>
        Use the search bar below to explore your favorite movie and post content.</p>
    <form id="search-form" class="d-flex" role="search">
        <input id="search-bar" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button id="search-btn" class="btn btn-outline-success" type="button">Search</button>
    </form>
    <div class="container" style="margin-top: 20px;">
        <h3>Most Recent Posts</h3>
        {{#if posts.length}}
        {{#each posts as |post| }}
        <div class="row">
          <div class="col">
            <h5><a href="/post/{{post.id}}">{{post.title}}"</a> by <a href="/user/{{user.id}}">{{user.username}}</a></h5>
            <h6 class="mb-2 text-body-secondary">Movie: <a href="/movie/{{post.movie_id}}">{{post.movie_title}}</a></h6>
            <p>{{post.description}}</p>
          </div>
        </div>
        {{/each}}
        {{else}}
        <p>No posts yet. Search for a movie to create a post.</p>
        {{/if}}
    </div>
</section>

<script src="/js/search.js"></script>