<section class="container">
    <div class="card">
        <div class="card-body">
            <h2 class="post-title">{{title}}</h2>
            <h5 class="post-owner">Posted by: <a href="/user/{{user.id}}">{{user.username}}</a></h5>
            <h5 class="post-movie">Movie: <a href="/movie/{{movie_id}}">{{movie_title}}</a></h5>
            <p>{{description}}</p>
        </div>
    </div>

    {{!-- <a id="view-comments-btn" class="btn btn-primary">View Comments</a>
    <div id="comments-display" class="flex-row justify-center">
        <div class="card">
            <div class="card-body">
                <a id="show-comment-post" onclick="toggleAddComment()">Add Comment</a>
                <div id="add-comment-section" style="display: none;">
                    <p id="add-comment-status" style="color: #f1aeb5;"></p>
                    <form id="add-comment-form" class="form" style="padding: 10px;">
                        <div class="mb-3">
                            <input id="add-comment-text" type="text" class="form-control">
                        </div>
                        <button id="add-post-submit-btn" class="btn btn-primary" type="submit">Submit</button>
                    </form>
                </div>
                <div id="list-comment-section">
                {{#each post.comments as |comment|}}
                {{> comment-details}}
                {{/each}}
                </div>
            </div>
        </div>
    </div> --}}
</section>

{{!-- <script src="/js/add-comment.js"></script>
<script>
    function toggleAddComment() {
        var addCommentSection = document.getElementById("add-comment-section");
        var showAddComment = document.getElementById("show-add-comment");
        if (addCommentSection.style.display === "none") {
            addCommentSection.style.display = "block";
            showAddComment.textContent = "Cancel";
        } else {
            addCommentSection.style.display = "none";
            showAddComment.textContent = "Add Comment";
        }
    };
</script> --}}